<div class="panel-body">
  <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
    <div class="panel panel-default">
      
      <div id="clinicHeadingOne" role="tab" class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#clinicOne" aria-expanded="true" aria-controls="clinicOne" class="">
            Clinic Information
          </a>
        </h4>
      </div>
      
      <div id="clinicOne" role="tabpanel" aria-labelledby="clinicHeadingOne" class="panel-collapse collapse in" aria-expanded="" style="">
        <div class="panel-body">
          <%= nested_form_for @clinic, html: {class: 'form-horizontal', id: 'validate_new_clinic'}, data: {'parsley-validate': ''}, novalidate: '' do |form| %>
            <div>
              <%= form.fields_for :contact do |contact_f| %>
                <%= form.fields_for :address do |address_f| %>
                  <%= form.fields_for :billing_address do |billing_address_f| %>
                    <div class='col-md-6'>
                      <legend>Clinic Setup</legend>
                      
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Clinic Name</label>
                        <div class="col-lg-9">
                          <%= contact_f.text_field :company_name, placeholder: 'Clinic Name', class: 'form-control', required: true, data: {'parsley-required-message': "Clinic name can't be blank."} %>
                          <ul class="parsley-errors-list filled">
                            <li class="parsley-required"><%= display_error_messages @clinic.errors, [:'contact.company_name'] %></li>
                          </ul>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">Address</label>
                        <div class="col-lg-9">
                          <%= address_f.text_field :street, placeholder: 'Write your address line 1 here...', class: 'form-control' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">&nbsp;</label>
                        <div class="col-lg-9">
                          <%= address_f.text_field :street2, placeholder: 'Write your address line 2 here...', class: 'form-control' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">City</label>
                        <div class="col-lg-9">
                          <%= address_f.text_field :city, placeholder: 'City Name', class: 'form-control' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">State</label>
                        <div class="col-lg-9">                    
                          <%= address_f.select :state, options_for_select(us_states, selected: address_f.object.state), {include_blank: 'Select Your State'}, { class: 'form-control m-b select2-1' } %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">Zipcode</label>
                        <div class="col-lg-9">                    
                          <%= address_f.text_field :zipcode, placeholder: 'Zipcode', class: 'form-control' %>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Phone #</label>
                        <div class="col-lg-6">
                          <%= contact_f.text_field :phone1, placeholder: 'Phone Number', class: 'form-control phone_number', data: {masked: '', inputmask: "'mask': '(999) 999-9999'"} %>
                        </div>
                        <div class="col-lg-3">
                          <%= contact_f.text_field :phone1_ext, placeholder: 'EXT', class: 'form-control', size: 1, minlength: '1', maxlength: '1' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">Fax Number</label>
                        <div class="col-lg-9">                    
                          <%= contact_f.text_field :fax1, placeholder: 'Fax Number', class: 'form-control phone_number' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">Email</label>
                        <div class="col-lg-9">                    
                          <%= contact_f.email_field :email1, placeholder: 'Write your email address here...', class: 'form-control' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">Provider</label>
                        <div class="col-lg-9">                    
                          <%= form.select :main_provider_id, current_account.providers.collect{|p| [p.signature_name, p.id]}, {include_blank: 'Select Your Provider'}, { class: 'form-control m-b select2-1' } %>
                        </div>
                      </div>

                    </div>

                    <div class='col-md-6'>
                      <legend>Billing Office</legend>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">&nbsp;</label>
                        <div class="col-lg-9 mrgbtn7">                    
                          <label class="checkbox-inline c-checkbox">
                            <%= form.check_box :same_as_service_location, onchange: 'sameAsServiceLocation(this);' %>
                            <span class="fa fa-check"></span> Address is same as clinic?
                          </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">Address</label>
                        <div class="col-lg-9">
                          <% if form.object.same_as_service_location == true %>
                            <%= billing_address_f.text_field :street, placeholder: 'Write your address line 1 here...', class: 'form-control', disabled: true %>
                          <% else %>
                            <%= billing_address_f.text_field :street, placeholder: 'Write your address line 1 here...', class: 'form-control' %>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">&nbsp;</label>
                        <div class="col-lg-9">
                          <% if form.object.same_as_service_location == true %>
                            <%= billing_address_f.text_field :street2, placeholder: 'Write your address line 2 here...', class: 'form-control', disabled: true %>
                          <% else %>
                            <%= billing_address_f.text_field :street2, placeholder: 'Write your address line 2 here...', class: 'form-control' %>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">City</label>
                        <div class="col-lg-9">
                          <% if form.object.same_as_service_location == true %>
                            <%= billing_address_f.text_field :city, placeholder: 'City Name', class: 'form-control', disabled: true %>
                          <% else %>
                            <%= billing_address_f.text_field :city, placeholder: 'City Name', class: 'form-control' %>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">State</label>
                        <div class="col-lg-9">                    
                          <% if form.object.same_as_service_location == true %>
                            <%= billing_address_f.select :state, options_for_select(us_states, selected: billing_address_f.object.try(:state)), {include_blank: 'Select Your State'}, { class: 'form-control m-b select2-1', disabled: true } %>
                          <% else %>
                            <%= billing_address_f.select :state, options_for_select(us_states, selected: billing_address_f.object.try(:state)), {include_blank: 'Select Your State'}, { class: 'form-control m-b select2-1' } %>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">Zipcode</label>
                        <div class="col-lg-9">                    
                          <% if form.object.same_as_service_location == true %>
                            <%= billing_address_f.text_field :zipcode, placeholder: 'Zipcode', class: 'form-control', disabled: true %>
                          <% else %>
                            <%= billing_address_f.text_field :zipcode, placeholder: 'Zipcode', class: 'form-control' %>
                          <% end %>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="col-lg-3 control-label">Phone #</label>
                        <div class="col-lg-6">
                          <%= contact_f.text_field :phone2, placeholder: 'Phone Number', class: 'form-control phone_number', data: {masked: '', inputmask: "'mask': '(999) 999-9999'"} %>
                        </div>
                        <div class="col-lg-3">
                          <%= contact_f.text_field :phone2_ext, placeholder: 'EXT', class: 'form-control', size: 1, minlength: '1', maxlength: '1' %>
                        </div>
                      </div>

                      <legend>Corporate Data</legend>

                      <div class="form-group">
                        <label class="col-lg-3 control-label" title='Corporate Tax ID'>Tax UUID</label>
                        <div class="col-lg-9">                    
                          <%= form.text_field :tax_uuid, placeholder: 'Tax UUID', class: 'form-control tax_number' %>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-lg-3 control-label">Type II NPI</label>
                        <div class="col-lg-9">                    
                          <%= form.text_field :type_ii_npi_uuid, placeholder: 'Type II NPI', class: 'form-control' %>
                        </div>
                      </div>
                    </div>

                  <% end %>
                <% end %>
              <% end %>   
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <%= link_to 'Cancel', clinics_path, class: 'btn btn-default', data: {disable_with: 'Please Wait...'} %>
                <%= form.submit 'Save', class: 'btn btn-primary', data: {disable_with: 'Please Wait...' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div id="clinicHeadingTwo" role="tab" class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#clinicTwo" aria-expanded="false" aria-controls="clinicTwo" class="collapsed">
            Clinic Preferences : New Patient Option
          </a>
        </h4>
      </div>
      
      <div id="clinicTwo" role="tabpanel" aria-labelledby="clinicHeadingTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px; ">
        <div class="panel-body">
          <%= nested_form_for @clinic, html: {class: 'form-horizontal', id: 'validate_new_clinic2'}, data: {'parsley-validate': ''}, novalidate: '' do |form| %>
            <%= form.fields_for :clinic_preference do |clinic_preference_f| %>
              <legend>New Patient Options</legend>

              <div class="form-group">
                <label class="col-lg-4 control-label">Patient Number Options</label>
                <div class="col-lg-6">
                  <%= clinic_preference_f.select :patient_number_scheme, AppConfig['options']['patient_number_scheme'].invert, {include_blank: 'Select Patient Number'}, { class: 'form-control m-b select2-1' } %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Send overdue patients a statement</label>
                <div class="col-lg-6">
                  <label class="checkbox-inline c-checkbox">
                    <%= clinic_preference_f.check_box :should_send_statements_when_overdue %>
                    <span class="fa fa-check"></span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Charge interest on overdue account</label>
                <div class="col-lg-1">
                  <label class="checkbox-inline c-checkbox">
                    <%= clinic_preference_f.check_box :should_charge_overdue_account %>
                    <span class="fa fa-check"></span>
                  </label>                  
                </div>
                <div class="col-lg-5">
                  <label class="col-lg-4 control-label">Interest Rate</label>
                  <div class="col-lg-5">
                    <%= clinic_preference_f.text_field :overdue_fee_percentage, placeholder: 'Int. Rate in %', class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Insurance assignment policy</label>
                <div class="col-lg-8 multic-box">                  
                  <% AppConfig['options']['insurance_carrier_assignment_policy'].each_key do |key| %>
                    <label class="checkbox-inline c-checkbox">
                      <%= check_box_tag 'clinic[clinic_preference_attributes][insurance_carrier_assignment_policy[]', key, @clinic.clinic_preference.insurance_carrier_assignment_policy.include?(key), class: 'insurance_carrier_assignment_policy' %>
                      <span class="fa fa-check"></span>
                      <%= AppConfig['options']['insurance_carrier_assignment_policy'][key] %>
                    </label>
                  <% end %>
                  <label class="checkbox-inline c-checkbox">
                    <%= check_box_tag 'all_insurance_carrier_assignment_policy', 1, false %>
                    <span class="fa fa-check"></span>
                    ALL
                  </label>                  
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Show clinic on letter</label>
                <div class="col-lg-6">
                  <label class="checkbox-inline c-checkbox">
                    <%= clinic_preference_f.check_box :should_show_clinic_on_letter %>
                    <span class="fa fa-check"></span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">On letter use</label>
                <div class="col-lg-6">
                  <label class="radio-inline c-radio">
                    <%= clinic_preference_f.radio_button :letter_use, 'provider' %>
                    <span class="fa fa-circle"></span>
                    Provider                    
                  </label>

                  <label class="radio-inline c-radio">
                    <%= clinic_preference_f.radio_button :letter_use, 'clinic name' %>
                    <span class="fa fa-circle"></span>
                    Clinic Name
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Show clinic on bill</label>
                <div class="col-lg-6">
                  <label class="checkbox-inline c-checkbox">
                    <%= clinic_preference_f.check_box :should_show_clinic_on_bill %>
                    <span class="fa fa-check"></span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">On Patient statement use</label>
                <div class="col-lg-6">
                  <label class="radio-inline c-radio">
                    <%= clinic_preference_f.radio_button :statement_use, 'provider' %>
                    <span class="fa fa-circle"></span>
                    Provider                    
                  </label>

                  <label class="radio-inline c-radio">
                    <%= clinic_preference_f.radio_button :statement_use, 'clinic name' %>
                    <span class="fa fa-circle"></span>
                    Clinic Name
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Print clinic address on envelope</label>
                <div class="col-lg-6">
                  <label class="checkbox-inline c-checkbox">
                    <%= clinic_preference_f.check_box :should_print_clinic_address_on_envelope %>
                    <span class="fa fa-check"></span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Default place of service</label>
                <div class="col-lg-6">
                  <%= clinic_preference_f.select :default_place_of_service, AppConfig['options']['places_of_service'], {include_blank: 'Select Place of Service'}, { class: 'form-control m-b select2-1' } %>
                </div>
              </div>

            <% end %>

            <div class="clearfix"></div>
            <hr>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <%= link_to 'Cancel', clinics_path, class: 'btn btn-default', data: {disable_with: 'Please Wait...'} %>
                <%= form.submit 'Save', class: 'btn btn-primary', data: {disable_with: 'Please Wait...' } %>
              </div>
            </div>            

          <% end %>
        </div>
      </div>

    </div>
    
    <div class="panel panel-default">
      <div id="clinicHeadingThree" role="tab" class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#clinicCollapseThree" aria-expanded="false" aria-controls="clinicCollapseThree" class="collapsed">
            Clinic Preferences : Custom Statement Messages & Basic HCFA Printing Options
          </a>
        </h4>
      </div>
      <div id="clinicCollapseThree" role="tabpanel" aria-labelledby="clinicHeadingThree" class="panel-collapse collapse" aria-expanded="false">
        <div class="panel-body">
          <%= nested_form_for @clinic, html: {class: 'form-horizontal', id: 'validate_new_clinic3'}, data: {'parsley-validate': ''}, novalidate: '' do |form| %>
            <div>
              <%= form.fields_for :clinic_preference do |clinic_preference_f| %>
                <div class='col-md-6'>
                  <legend>Custom Statement Messages</legend>

                  <div class="form-group">
                    <label class="col-lg-3 control-label">Current</label>
                    <div class="col-lg-9">
                      <%= clinic_preference_f.text_area :patient_current_statement_message, rows: 3, class: 'form-control note-editor' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-3 control-label">30 Days</label>
                    <div class="col-lg-9">
                      <%= clinic_preference_f.text_area :patient_30days_statement_message, rows: 3, class: 'form-control note-editor' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-3 control-label">60 Days</label>
                    <div class="col-lg-9">
                      <%= clinic_preference_f.text_area :patient_60days_statement_message, rows: 3, class: 'form-control note-editor' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-3 control-label">90 Days</label>
                    <div class="col-lg-9">
                      <%= clinic_preference_f.text_area :patient_90days_statement_message, rows: 3, class: 'form-control note-editor' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-3 control-label">120 Days</label>
                    <div class="col-lg-9">
                      <%= clinic_preference_f.text_area :patient_120days_statement_message, rows: 3, class: 'form-control note-editor' %>
                    </div>
                  </div>

                </div>

                <div class='col-md-6'>
                  <legend>Basic HCFA Printing Options</legend>
    
                  <div class="form-group">
                    <label class="col-lg-5 control-label">In box 32 use</label>
                    <div class="col-lg-6">
                      <label class="radio-inline c-radio">
                        <%= clinic_preference_f.radio_button :box_32_use, 'provider' %>
                        <span class="fa fa-circle"></span>
                        Provider                    
                      </label>

                      <label class="radio-inline c-radio">
                        <%= clinic_preference_f.radio_button :box_32_use, 'clinic name' %>
                        <span class="fa fa-circle"></span>
                        Clinic Name
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-5 control-label">In box 33 use</label>
                    <div class="col-lg-6">
                      <label class="radio-inline c-radio">
                        <%= clinic_preference_f.radio_button :box_33_use, 'provider' %>
                        <span class="fa fa-circle"></span>
                        Provider                    
                      </label>

                      <label class="radio-inline c-radio">
                        <%= clinic_preference_f.radio_button :box_33_use, 'clinic name' %>
                        <span class="fa fa-circle"></span>
                        Clinic Name
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-5 control-label">Print Dx. description</label>
                    <div class="col-lg-6">
                      <label class="checkbox-inline c-checkbox">
                        <%= clinic_preference_f.check_box :should_print_diagnosis_description_on_hcfa %>
                        <span class="fa fa-check"></span>
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-5 control-label">Workers Comp Service</label>
                    <div class="col-lg-7">
                      <%= clinic_preference_f.text_field :workmanscomp_boilerplate, placeholder: 'Workers Comp. Service', class: 'form-control' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-5 control-label">Top Margin</label>
                    <div class="input-group col-lg-6 pd-left">
                      <%= clinic_preference_f.text_field :hcfa_top_margin, placeholder: 'Top Margin', class: 'form-control' %>
                      <span class="input-group-addon">In</span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-lg-5 control-label">Left Margin</label>
                    <div class="input-group col-lg-6 pd-left">
                      <%= clinic_preference_f.text_field :hcfa_left_margin, placeholder: 'Left Margin', class: 'form-control' %>
                      <span class="input-group-addon">In</span>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
            
            <div class="clearfix"></div>
            <hr>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <%= link_to 'Cancel', clinics_path, class: 'btn btn-default', data: {disable_with: 'Please Wait...'} %>
                <%= form.submit 'Save', class: 'btn btn-primary', data: {disable_with: 'Please Wait...' } %>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>