<h3>
  Clinics
  <ol class="breadcrumb pull-right">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <small>
    Once you signup, make sure you setup the clinic contact information and other preferences here
  </small>
</h3>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="table-responsive">
          <% if @clinics.present? %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Clinic Name</th>
                  <th>Created At</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @clinics.each_with_index do |clinic, index| %>
                  <tr class='clinic_<%= clinic.slug %>'>
                    <td><%= index + 1 %></td>
                    <td><%= clinic.title %></td>
                    <td><%= clinic.created_at.strftime('%a, %d %b %Y - %H:%M %p') %></td>
                    <td>
                      <%= link_to "<em class='fa fa-eye'></em> Show".html_safe, clinic_path(clinic), class: 'btn btn-default btn-xs', data: {disable_with: 'Please wait...'} %>
                      <%= link_to "<em class='fa fa-pencil'></em> Edit".html_safe, edit_clinic_path(clinic), class: 'btn btn-primary btn-xs', data: {disable_with: 'Please wait...'} %>
                      <%= link_to "<em class='fa fa-trash'></em> Delete".html_safe, clinic_path(clinic), class: 'btn btn-danger btn-xs', data: {behavior: 'delete', klass: "clinic_#{clinic.slug}"} %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No Clinic Found Yet!</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>