<aside class="aside">
  <!-- START Sidebar (left)-->
  <div class="aside-inner">
    <nav data-sidebar-anyclick-close="" class="sidebar">
    <!-- START sidebar nav-->
      <ul class="nav">
        <!-- START user info-->
        <li class="has-user-block">
          <div id="user-block" class="collapse">
            <div class="item user-block">
            <!-- User picture-->
              <div class="user-block-picture">
                <div class="user-block-status">
                  <%= link_to image_tag('/assets/dashboard/user/02.jpg', alt: 'Avatar', width: '60', height: '60', class: 'img-thumbnail img-circle'), accounts_path %>                  
                </div>
              </div>
              
              <!-- Name and Job-->
              <div class="user-block-info">
                <span class="user-block-name">Hello, <%= current_user.fullname %></span>
                <span class="user-block-role">
                  <%= link_to "LOGOUT", destroy_session_path, method: :delete, data: {disable_with: 'Please wait...'} %>
                </span>
              </div>
            </div>
          </div>
        </li>
        <!-- END user info-->
        <!-- Iterates over all sidebar items-->
        <li class="nav-heading ">
          <span data-localize="sidebar.heading.HEADER">Main Navigation</span>
        </li>
            
        <li class="<%= 'active' if controller.action_name == 'dashboard' && controller.controller_name == 'base' %>">
          <%= link_to user_dashboard_path, title: 'Dashboard', data: {disable_with: 'Please Wait...'} do %>
            <em class="icon-speedometer"></em>
            <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>            
          <% end %>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'clinics' %>">
          <%= link_to '#clinic', title: 'Clinics', data: {toggle: 'collapse'}, class: 'collapsed' do %>
            <em class="fa fa-hospital-o"></em>
            <span>Clinics</span>            
          <% end %>
          <ul id="clinic" class="nav sidebar-subnav collapse <%= 'in' if controller.controller_name == 'clinics' %>">
            <li class="sidebar-subnav-header">Clinics</li>
            <li class="<%= 'active' if controller.controller_name == 'clinics' && (controller.action_name == 'index' || controller.action_name == 'edit')%>">
              <%= link_to clinics_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                <span>Manage Clinics</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'clinics' && controller.action_name == 'new' %>">
              <%= link_to new_clinic_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Add Clinic</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'patients' %>">
          <%= link_to '#patient', title: 'Patients', data: {toggle: 'collapse'}, class: 'collapsed' do %>
            <em class="fa fa-user"></em>
            <span>Patients</span>            
          <% end %>
          <ul id="patient" class="nav sidebar-subnav collapse">
            <li class="sidebar-subnav-header">Patient</li>
            <% if current_account.clinics.present? && current_account.clinics.count >= 1 %>            
              <li class="<%= 'active' if controller.controller_name == 'patients' %>">
                <%= link_to clinic_patients_path(current_account.try(:clinics).try(:latest).try(:first)), title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                  <span>Manage Patients</span>
                <% end %>
              </li>
            <% else %>
              <li class="<%= 'active' if controller.controller_name == 'patients' %>">
                <%= link_to patients_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                  <span>Manage Patients</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>


        <li class="nav-heading ">
          <span data-localize="sidebar.heading.HEADER">Settings - Clinic Data</span>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'providers' %>">
          <%= link_to '#provider', title: 'Providers', data: {toggle: 'collapse'}, class: 'collapsed' do %>
            <em class="icon-grid"></em>
            <span>Providers</span>            
          <% end %>
          <ul id="provider" class="nav sidebar-subnav collapse <%= 'in' if controller.controller_name == 'providers' %>">
            <li class="sidebar-subnav-header">Providers</li>
            <li class="<%= 'active' if controller.controller_name == 'providers' && (controller.action_name == 'index' || controller.action_name == 'edit' || controller.action_name == 'show')%>">
              <%= link_to providers_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                <span>Manage Providers</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'providers' && controller.action_name == 'new' %>">
              <%= link_to new_provider_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Add Provider</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="nav-heading ">
          <span data-localize="sidebar.heading.HEADER">Settings - Patient Data</span>
        </li>

        <li class="nav-heading ">
          <span data-localize="sidebar.heading.HEADER">Settings - Communications</span>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'letters' %>">
          <%= link_to '#letter', title: 'Letters', data: {toggle: 'collapse'}, class: 'collapsed' do %>
            <em class="icon-grid"></em>
            <span>Letters</span>            
          <% end %>
          <ul id="letter" class="nav sidebar-subnav collapse <%= 'in' if controller.controller_name == 'letters' %>">
            <li class="sidebar-subnav-header">Letters</li>
            <li class="<%= 'active' if controller.controller_name == 'letters' && (controller.action_name == 'index' || controller.action_name == 'edit' || controller.action_name == 'show')%>">
              <%= link_to letters_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                <span>Manage Letters</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'letters' && controller.action_name == 'new' %>">
              <%= link_to new_letter_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Add Letter</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'letters' && controller.action_name == 'new_import' %>">
              <%= link_to new_import_letters_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Import Letter</span>
              <% end %>
            </li>            
          </ul>
        </li>

        <li class="nav-heading ">
          <span data-localize="sidebar.heading.HEADER">Settings - Resources</span>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'insurance_carriers' %>">
          <%= link_to '#insurance_carrier', title: 'Insurance Carrier', data: {toggle: 'collapse'}, class: 'collapsed' do %>
            <em class="icon-grid"></em>
            <span>Insurance Carrier</span>            
          <% end %>
          <ul id="insurance_carrier" class="nav sidebar-subnav collapse <%= 'in' if controller.controller_name == 'insurance_carriers' %>">
            <li class="sidebar-subnav-header">Insurance Carrier</li>
            <li class="<%= 'active' if controller.controller_name == 'insurance_carriers' && (controller.action_name == 'index' || controller.action_name == 'edit' || controller.action_name == 'show')%>">
              <%= link_to insurance_carriers_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                <span>Manage Insurance Carrier</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'insurance_carriers' && controller.action_name == 'new' %>">
              <%= link_to new_insurance_carrier_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Add Insurance Carrier</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'attorneys' %>">
          <%= link_to '#attorney', title: 'Attorney', data: {toggle: 'collapse'}, class: 'collapsed' do %>
            <em class="icon-grid"></em>
            <span>Attorneys</span>            
          <% end %>
          <ul id="attorney" class="nav sidebar-subnav collapse <%= 'in' if controller.controller_name == 'attorneys' %>">
            <li class="sidebar-subnav-header">Attorneys</li>
            <li class="<%= 'active' if controller.controller_name == 'attorneys' && (controller.action_name == 'index' || controller.action_name == 'edit' || controller.action_name == 'show')%>">
              <%= link_to attorneys_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                <span>Manage Attorneys</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'attorneys' && controller.action_name == 'new' %>">
              <%= link_to new_attorney_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Add Attorney</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'referrers' %>">
          <%= link_to '#referrer', title: 'Referrer', data: {toggle: 'collapse'}, class: 'collapsed' do %>
            <em class="icon-grid"></em>
            <span>Referrers</span>            
          <% end %>
          <ul id="referrer" class="nav sidebar-subnav collapse <%= 'in' if controller.controller_name == 'referrers' %>">
            <li class="sidebar-subnav-header">Referrers</li>
            <li class="<%= 'active' if controller.controller_name == 'referrers' && (controller.action_name == 'index' || controller.action_name == 'edit' || controller.action_name == 'show')%>">
              <%= link_to referrers_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                <span>Manage Referrers</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'referrers' && controller.action_name == 'new' %>">
              <%= link_to new_referrer_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Add Referrer</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'diagnosis_codes' %>">
          <%= link_to '#diagnosis_code', title: 'Diagnosis Code', data: {toggle: 'collapse'}, class: 'collapsed' do %>
            <em class="icon-grid"></em>
            <span>Diagnosis Code</span>            
          <% end %>
          <ul id="diagnosis_code" class="nav sidebar-subnav collapse <%= 'in' if controller.controller_name == 'diagnosis_codes' %>">
            <li class="sidebar-subnav-header">Diagnosis Code</li>
            <li class="<%= 'active' if controller.controller_name == 'diagnosis_codes' && (controller.action_name == 'index' || controller.action_name == 'edit' || controller.action_name == 'show')%>">
              <%= link_to diagnosis_codes_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %>
                <span>Manage Diagnosis Codes</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'diagnosis_codes' && controller.action_name == 'new' %>">
              <%= link_to new_diagnosis_code_path, title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Add Diagnosis Code</span>
              <% end %>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'diagnosis_codes' && controller.action_name == 'import' %>">
              <%= link_to import_diagnosis_codes_path,  title: 'Horizontal', data: {disable_with: 'Please Wait...'} do %> 
                <span>Import Data</span>
              <% end %>
            </li>
          </ul>
        </li>

        <li class="<%= 'active' if controller.controller_name == 'procedure_codes' %>">          
          <% if current_account.clinics.present? && current_account.clinics.count >= 1 %>          
            <%= link_to clinic_procedure_codes_path(current_account.clinics.try(:latest).try(:first)), title: 'Procedure Code', data: {disable_with: 'Please Wait...'}, class: '' do %>
              <em class="icon-grid"></em>
              <span>Procedure Code</span>            
            <% end %>
          <% else %>
            <%= link_to new_clinic_path, title: 'Procedure Code', data: {disable_with: 'Please Wait...'}, class: '' do %>
              <em class="icon-grid"></em>
              <span>Procedure Code</span>            
            <% end %>
          <% end %>        
        </li>

      </ul>
      <!-- END sidebar nav-->
    </nav>
  </div>
  <!-- END Sidebar (left)-->
</aside>