<div class="panel-body">
  <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
    <div class="panel panel-default">              
      <div class="panel-body">
        <%= form_for letter, html: {class: 'form-horizontal', id: 'validate_new_letter'}, data: {'parsley-validate': ''}, novalidate: '' do |form| %>
          <div class='col-md-12'>
            <div class="form-group">
              <label class="col-lg-2 control-label">Name</label>
              <div class="col-lg-6">
                <%= form.text_field :name, placeholder: 'Full name', class: 'form-control', data: {LetterId: form.object.id} %>
                <ul class="parsley-errors-list filled">
                  <li class="parsley-required"><%= display_error_messages letter.errors, [:name] %></li>
                </ul>                
              </div>
            </div>
          </div>
          <div class='col-md-12'>
            <div class="form-group">
              <label class="col-lg-2 control-label">Body</label>
              <div class="col-lg-10">
                <%= form.text_area :body, placeholder: 'Write your content here...', class: 'form-control note-editor', rows: 10 %>                
              </div>
            </div>
          </div>
          
          <div class='col-md-12'>
            <div class="form-group">
              <label class="col-lg-2 control-label">&nbsp;</label>
              <div class="col-lg-10">

                <%= link_to 'Allowed Tags', 'javascript:void(0);', id: 'v_toggle', onclick: %($("#vertical_slide").toggle()) %>
        
                <div id="vertical_slide" class="slides" style="display:none;">
                  <table class='table'>
                    
                    <tr>
                      <th>&&FN</th>
                      <td class="required">First Name</td>
                      <th>&&LN</th>
                      <td class="required">Last Name</td>
                    </tr>

                    <tr>
                      <th>&&NAME</th>
                      <td class="required">Full Name</td>
                      <th>&&NN</th>
                      <td class="required">Nickname</td>
                    </tr>

                    <tr>
                      <th>&&BD</th>
                      <td class="required">Birthdate</td>
                      <th>&&AGE</th>
                      <td class="required">Age</td>
                    </tr>

                    <tr>
                      <th>&&OD</th>
                      <td class="required">Onset Date</td>
                      <th>&&AD</th>
                      <td class="required">Accident Date</td>
                    </tr>

                    <tr>
                      <th>&&SX</th>
                      <td class="required">Male or Female</td>
                      <th>&&FTMT</th>
                      <td class="required">First Visit</td>
                    </tr>

                    <tr>
                      <th>&&LV</th>
                      <td class="required">Last Visit</td>
                      <th>&&LX</th>
                      <td class="required">Last X-ray</td>
                    </tr>

                    <tr>
                      <th>&&RS</th>
                      <td class="required">Referral Source</td>
                      <th>&&Ins</th>
                      <td class="required">Carrier Name</td>
                    </tr>

                    <tr>
                      <th>&&INAD</th>
                      <td class="required">Carrier Address</td>
                      <th>&&CLM</th>
                      <td class="required">Claim#</td>
                    </tr>

                    <tr>
                      <th>&&GRP</th>
                      <td class="required">Group</td>
                      <th>&&CompID</th>
                      <td class="required">WCBCaseID</td>
                    </tr>

                    <tr>
                      <th>&&Bal</th>
                      <td class="required">Balance</td>
                      <th>&&IBAL</th>
                      <td class="required">Insurance Balance</td>
                    </tr>

                    <tr>
                      <th>&&PBAL</th>
                      <td class="required">Patient Balance</td>
                      <th>&&Dx1</th>
                      <td class="required">Diag1</td>
                    </tr>

                    <tr>
                      <th>&&Dx2</th>
                      <td class="required">Diag2</td>
                      <th>&&Dx3</th>
                      <td class="required">Diag3</td>
                    </tr>

                    <tr>
                      <th>&&Dx4</th>
                      <td class="required">Diag4</td>
                      <th>&&FLL</th>
                      <td class="required">1st Line of Label</td>
                    </tr>

                    <tr>
                      <th>&&ATTY</th>
                      <td class="required">Attorney</td>
                      <th>&&TD</th>
                      <td class="required">&&TD</td>
                    </tr>
                  </table>
                </div>

              </div>
            </div>
          </div>

          <div class='col-md-12'>
            <div class="form-group">
              <label class="col-lg-2 control-label">Salutation</label>
              <div class="col-lg-6">
                <%= form.text_field :salutation, placeholder: 'Salutation', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class='col-md-12'>
            <div class="form-group">
              <label class="col-lg-2 control-label">&nbsp;</label>
              <div class="col-lg-6  mrgbtn7">
                <label class="checkbox-inline c-checkbox">
                  <%= form.check_box :should_sign_clinic_name %>
                  <span class="fa fa-check"></span> Should sign clinic name
                </label>                
              </div>
            </div>
          </div>

          <div class="clearfix"></div>
          <hr>
          
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <%= link_to 'Cancel', letters_path, class: 'btn btn-default', data: {disable_with: 'Please Wait...'} %>
              <%= form.submit 'Save', class: 'btn btn-primary', data: {disable_with: 'Please Wait...' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
