<div class="panel-body">
  <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
    <div class="panel panel-default">              
      <div class="panel-body">
        <%= form_for @attorney, html: {class: 'form-horizontal', id: 'validate_new_attorney'}, data: {'parsley-validate': ''}, novalidate: '' do |form| %>

          <legend>Carrier Information</legend>
          
          <%= form.fields_for :contact do |contact_f| %>
            <%= form.fields_for :address do |address_f| %>
              <div class='col-md-6'>
                
                <div class="form-group">
                  <label class="col-lg-4 control-label">Firm</label>
                  <div class="col-lg-8">
                    <%= contact_f.text_field :company_name, placeholder: 'Firm', class: 'form-control', data: {AttorneyId: form.object.id} %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Attorney</label>
                  <div class="col-lg-8">
                    <%= form.text_field :attorney_name, placeholder: 'Attorney', class: 'form-control' %>
                    <ul class="parsley-errors-list filled">
                      <li class="parsley-required"><%= display_error_messages @attorney.errors, [:attorney_name] %></li>
                    </ul>

                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Attention</label>
                  <div class="col-lg-8">
                    <%= contact_f.text_field :attention, placeholder: 'Attention', class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Address</label>
                  <div class="col-lg-8">
                    <%= address_f.text_field :street, placeholder: 'Street Address 1', class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">&nbsp;</label>
                  <div class="col-lg-8">
                    <%= address_f.text_field :street2, placeholder: 'Street Address 2', class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">City</label>
                  <div class="col-lg-8">
                    <%= address_f.text_field :city, placeholder: 'City', class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">State</label>
                  <div class="col-lg-8">
                    <%= address_f.select :state, options_for_select(us_states, selected: address_f.object.state), {include_blank: 'Select Your State'}, { class: 'form-control m-b select2-1' } %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Zipcode</label>
                  <div class="col-lg-8">                    
                    <%= address_f.text_field :zipcode, placeholder: 'Zipcode', class: 'form-control' %>
                  </div>
                </div>                            
              </div>

              <div class='col-md-6'>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Phone Number</label>
                  <div class="col-lg-6">                    
                    <%= contact_f.text_field :phone1, placeholder: 'Phone Number', class: 'form-control phone_number' %>
                  </div>
                  <div class="col-lg-2">                    
                    <%= contact_f.text_field :phone1_ext, placeholder: 'EXT', class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Phone Number</label>
                  <div class="col-lg-6">                    
                    <%= contact_f.text_field :phone2, placeholder: 'Phone Number', class: 'form-control phone_number' %>
                  </div>
                  <div class="col-lg-2">                    
                    <%= contact_f.text_field :phone2_ext, placeholder: 'EXT', class: 'form-control' %>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Phone Number</label>
                  <div class="col-lg-6">                    
                    <%= contact_f.text_field :phone3, placeholder: 'Phone Number', class: 'form-control phone_number' %>
                  </div>
                  <div class="col-lg-2">                    
                    <%= contact_f.text_field :phone3_ext, placeholder: 'EXT', class: 'form-control' %>
                  </div>
                </div>
  
                <div class="form-group">
                  <label class="col-lg-4 control-label">Fax Number</label>
                  <div class="col-lg-8">                    
                    <%= contact_f.text_field :fax1, placeholder: 'Fax Number', class: 'form-control phone_number' %>
                  </div>
                </div>                            

                <div class="form-group">
                  <label class="col-lg-4 control-label">Email</label>
                  <div class="col-lg-8">                    
                    <%= contact_f.email_field :email1, placeholder: 'Email', class: 'form-control' %>
                  </div>
                </div>                            

                <div class="form-group">
                  <label class="col-lg-4 control-label">Notes</label>
                  <div class="col-lg-8">
                    <%= form.text_area :notes, placeholder: 'Write your content here...', class: 'form-control note-editor', rows: 7 %>
                  </div>              
                </div>                
              </div>

            <% end %>
          <% end %>

          <div class="clearfix"></div>
          <hr>
          
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <%= link_to 'Cancel', attorneys_path, class: 'btn btn-default', data: {disable_with: 'Please Wait...'} %>
              <%= form.submit 'Save', class: 'btn btn-primary', data: {disable_with: 'Please Wait...' } %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>  