<h3>
  Patient Visits - <strong><%= "#{@patient_case.patient.name} - #{@patient_case.description}" %></strong>
  <ol class="breadcrumb pull-right">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <small>
    The purpose of the Transactions form is to record and view services and payments. The top portion of the form is the treatment detail section, which displays the treatments or payments for the current patient visit. At the bottom of transaction form is the transaction history section.
  </small>
</h3>

<div class="row">
  <div class="col-lg-12 text-right">
    <%= link_to "<em class='fa fa-plus'></em> Add Patient Visit".html_safe, new_clinic_patient_patient_case_patient_visit_path(@clinic, @patient, @patient_case), class: 'btn btn-info btn-xs pull-right', data: {disable_with: 'Please wait...'} %>    
    <%= link_to "<em class='fa fa-calendar'></em> Appointments".html_safe, clinic_appointments_path(@clinic), class: 'btn btn-info btn-xs pull-right mrgrgt5', data: {disable_with: 'Please wait...'}  %>
  </div>
  <div class="clearfix"></div> 

	<div class="panel-body">
		<div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
	  	<%= render partial: '/patient_visits/fee_schedule_label' %>
	  	<%= render partial: '/patient_visits/visit_lists' %>
	  </div>
	</div>

</div>
