<h3> Appointment - <%= @contact.try(:name) %>
  <ol class="breadcrumb pull-right">
    <%= render_breadcrumbs tag: :li, separator: '' %>
  </ol>
  <small>
  	The appointment book allows scheduling the current patient to the particular time for one of the doctors.
  </small>
</h3>

<div class="panel-body">
  <div class="panel panel-default">
    <div class="panel-body">
    	<%= form_tag day_at_glance_clinic_appointments_path(@clinic), class: 'form-inline', method: 'get' do |form| %>
    		<div class="form-group col-lg-2">
	    		<label for="input-date" class="sr-only">Date</label>
	        <div class="input-group date" id="datepicker1">
	          <%= text_field_tag :date, @date.strftime('%d/%m/%Y'), class: "calendar22 calendar datepicker form-control autoSubmit appointment_datepicker", 'dateFormat' => '%d/%m/%Y', placeholder: 'Date' %>
	          <span class="input-group-addon">
	            <span class="fa fa-calendar"></span>
	          </span>
	        </div>
	        <%= hidden_field_tag :contact_id, params[:contact_id].present? ? params[:contact_id] : @contact.id %>
    		</div>
		    <div class="form-group col-lg-4">	    		
          <button type="button" data-toggle="modal" data-target="#addAppointment" class="btn btn-default"><i class='fa fa-plus'></i> Add</button>
  	  	</div>
  	  	<div class="form-group col-lg-6 text-right">
		    	<%= link_to "<i class='fa fa-calendar'></i> Day At Glance".html_safe, day_at_glance_clinic_appointments_path(@clinic), class: 'btn btn-default btn-sm', data: {disable_with: 'Loading...'} %>
	  	  	<%= link_to "<i class='fa fa-calendar'></i> Week At Glance".html_safe, week_at_glance_clinic_appointments_path(@clinic), class: 'btn btn-default btn-sm', data: {disable_with: 'Loading...'} %>
	    		<%= link_to "<i class='fa fa-bed'></i> Room".html_safe, rooms_path, class: 'btn btn-default btn-sm', data: {disable_with: 'Loading...'} %>
          <%= link_to "<em class='icon-layers'></em> Report".html_safe, report_options_clinic_appointments_path(@clinic), class: 'btn btn-info btn-sm', data: {disable_with: 'Loading...'} %>
	  		</div>
    	<% end %>      
	  </div>
  </div>

  <div class="panel panel-default">    
    <div class="panel-body span-24 appointments-grid" id="appointments-grid">
    	<%= render partial: '/appointments/day_at_glance' %>
    </div>
  </div>
</div>
<%= content_for :add_appointment do %>
  <%= render partial: '/appointments/add_appointment', locals: {appointment: @appointment} %>
<% end %>
