<%= form_for [@clinic, @patient, @patient_case], html: {class: 'form-horizontal', id: 'validate_new_patient_case3'}, data: {'parsley-validate': ''}, novalidate: '' do |form| %>

	<div class='col-md-6'>
		<legend>1st Carrier</legend>
		<div class='col-md-6'>

			<div class="form-group mb">
        <label class="col-lg-6 control-label mb label-lg">Max pay per visit</label>
        <div class="col-lg-6">
          <div id="" class="input-group primary-deducatible">
           	<%= form.text_field :primary_max_pay_per_visit_cents, placeholder: 'Amount', class: 'form-control' %>
            <span class="input-group-addon">
              <span class="fa fa-dollar"></span>
            </span>
          </div>
       	</div>
      </div>

			<div class="form-group mb">
        <label class="col-lg-6 control-label mb label-lg">Max pay per year</label>
        <div class="col-lg-6">
          <div id="" class="input-group primary-deducatible">
           	<%= form.text_field :primary_max_pay_per_year_cents, placeholder: 'Amount', class: 'form-control' %>
            <span class="input-group-addon">
              <span class="fa fa-dollar"></span>
            </span>
          </div>
       	</div>
      </div>

			<div class="form-group mb">
        <label class="col-lg-6 control-label mb label-lg">Max pay per life</label>
        <div class="col-lg-6">
          <div id="" class="input-group primary-deducatible">
           	<%= form.text_field :primary_max_pay_per_life_cents, placeholder: 'Amount', class: 'form-control' %>
            <span class="input-group-addon">
              <span class="fa fa-dollar"></span>
            </span>
          </div>
       	</div>
      </div>
	  </div>

	  <div class='col-md-6 pad0'>

	    <div class="form-group">
	      <label class="col-lg-6 control-label label-lg">Max visits per year</label>
	      <div class="col-lg-6">                    
	        <%= form.text_field :primary_max_visits_per_year, placeholder: 'Max Visits Per Year', class: 'form-control' %>
	      </div>
	    </div>      

	    <div class="form-group">
	      <label class="col-lg-6 control-label label-lg">Max visits per life</label>
	      <div class="col-lg-6">                    
	        <%= form.text_field :primary_max_visits_per_life, placeholder: 'Max Visits Per Life', class: 'form-control' %>
	      </div>
	    </div>      

      <div class="form-group">
        <label class="col-sm-6 control-label label-lg pad0">Authorized through</label>
        <div class="col-sm-6">
          <div class="input-group date" id="datepicker1">
            <%= form.text_field :primary_authorization_through_date, value: form.object.primary_authorization_through_date.present? ? form.object.primary_authorization_through_date.to_date.strftime('%d/%m/%Y') : '', class: "calendar datepicker form-control", 'dateFormat' => '%d/%m/%Y', placeholder: 'DD/MM/YY' %>
            <span class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
      </div>

	  </div>
	</div>

	<div class='col-md-6'>		
		<legend>2nd Carrier</legend>

		<div class='col-md-6'>

			<div class="form-group mb">
        <label class="col-lg-6 control-label mb label-lg">Max pay per visit</label>
        <div class="col-lg-6">
          <div id="" class="input-group primary-deducatible">
           	<%= form.text_field :secondary_max_pay_per_visit_cents, placeholder: 'Amount', class: 'form-control' %>
            <span class="input-group-addon">
              <span class="fa fa-dollar"></span>
            </span>
          </div>
       	</div>
      </div>

			<div class="form-group mb">
        <label class="col-lg-6 control-label mb label-lg">Max pay per year</label>
        <div class="col-lg-6">
          <div id="" class="input-group primary-deducatible">
           	<%= form.text_field :secondary_max_pay_per_year_cents, placeholder: 'Amount', class: 'form-control' %>
            <span class="input-group-addon">
              <span class="fa fa-dollar"></span>
            </span>
          </div>
       	</div>
      </div>

			<div class="form-group mb">
        <label class="col-lg-6 control-label mb label-lg">Max pay per life</label>
        <div class="col-lg-6">
          <div id="" class="input-group primary-deducatible">
           	<%= form.text_field :secondary_max_pay_per_life_cents, placeholder: 'Amount', class: 'form-control' %>
            <span class="input-group-addon">
              <span class="fa fa-dollar"></span>
            </span>
          </div>
       	</div>
      </div>
	  </div>

	  <div class='col-md-6 pad0'>

	    <div class="form-group">
	      <label class="col-lg-6 control-label label-lg">Max visits per year</label>
	      <div class="col-lg-6">                    
	        <%= form.text_field :secondary_max_visits_per_year, placeholder: 'Max Visits Per Year', class: 'form-control' %>
	      </div>
	    </div>      

	    <div class="form-group">
	      <label class="col-lg-6 control-label label-lg">Max visits per life</label>
	      <div class="col-lg-6">                    
	        <%= form.text_field :secondary_max_visits_per_life, placeholder: 'Max Visits Per Life', class: 'form-control' %>
	      </div>
	    </div>      

      <div class="form-group">
        <label class="col-sm-6 control-label label-lg pad0">Authorized through</label>
        <div class="col-sm-6">
          <div class="input-group date" id="datepicker1">
            <%= form.text_field :secondary_authorization_through_date, value: form.object.secondary_authorization_through_date.present? ? form.object.secondary_authorization_through_date.to_date.strftime('%d/%m/%Y') : '', class: "calendar datepicker form-control", 'dateFormat' => '%d/%m/%Y', placeholder: 'DD/MM/YY' %>
            <span class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
      </div>
            
	  </div>	
	</div>

  <div class="clearfix"></div>
  <hr>
  
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <%= link_to 'Cancel', clinic_patients_path(@clinic), class: 'btn btn-default', data: {disable_with: 'Please Wait...'} %>
      <%= form.submit 'Save Accounting', class: 'btn btn-primary', data: {disable_with: 'Please Wait...' } %>
    </div>
  </div>

<% end %>