<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Landing Page Template">
    <meta name="keywords" content="bootstrap, app, theme">
    <meta name="author" content="@themicon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>EMR</title>
    <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track' => true %>   
    <%= javascript_include_tag 'frontend_common', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- FAVICON-->
    <link rel="icon" href="/assets/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144-precomposed.png">
    <!-- FONT-->
    <script>
      if ( window.jQBrowser.mobile && top.location != location) top.location.href = document.location.href;
    </script>
    <!--[if lt IE 9]><script src="js/html5shiv.js"></script><script src="js/respond.min.js"></script><![endif]-->
  </head>

  <body>
    <!-- WEBSITE PRELOADER-->
    <div class="preloader">
      <div class="loading">Loading ...</div>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
  </body>
</html>